h1.heading {
    font-family: "EB Garamond", "Baskerville", serif;
    font-size: 40px;
    color: #3B3B3B;
    text-decoration: none;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 20px;
}

p.italics {
    font-family: "Garamond", "EB Garamond", "Baskerville", serif;
    font-size: 24px;
    font-style: italic;
    line-height: 125%;
    color: #545454;
    width: 700px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: justify;
}

p.divider {
    font-size: 28px;
    width: 700px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    font-style: italic;
    color: #545454;
}

p.normal {
    font-family: "Garamond", "EB Garamond", "Baskerville", serif;
    font-size: 24px;
    font-style: normal;
    line-height: 125%;
    color: #545454;
    width: 700px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
    text-align: justify;
}

p.indent {
    margin-left: 240px;
}

span {
    font-family: "Garamond", "Baskerville", serif;
    font-size: 22px;
    font-style: normal;
    font-weight: bolder;
}

img.img {
    width: 700px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: justify;
}